@import 'tailwindcss';

@theme default {
  --color-neutral-925: #161616;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: #0a0a0a;
    color: #f5f5f5;
  }
}

.xterm .xterm-viewport {
  background-color: #0a0a0a;
}
