@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply m-0 p-0 antialiased;
  }

  body {
    @apply m-0 bg-[#09090b] p-0 font-sans text-slate-200;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }
}
